@use '@00-team/utils' as *;

.vito-player .mobile-layout .controls {
    position: absolute;
    z-index: 2;

    @include box(100%);
    display: flex;
    flex-direction: column;

    .page {
        width: 100%;
        height: calc(100% / 3);

        &__1 {
            // background-color: green;
        }
        &__2 {
            // background-color: brown;
            @include f-center;
            column-gap: 5%;

            button {
                height: 60%;
            }

            .loading {
                height: 60%;
            }
        }
        &__3 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .section {
                @include box(100%, 40%);

                &__1 {
                    padding: 1rem;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .time {
                        background-color: red;
                        font-size: 20px;
                        font-family: sans-serif;
                    }

                    button {
                        height: 60%;

                        svg {
                            color: #000;
                        }
                    }
                }

                &__2 {
                    background-color: darkcyan;
                }
            }
        }

        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            display: flex;
        }
    }
}
