@use '@00-team/utils' as *;

.vito-player {
    &,
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    contain: layout;
    position: relative;
    @include box(100%);
    @include f-center;
    @include no-user-select;

    .main-video {
        @include box(100%);
        position: absolute;
        z-index: 0;
    }

    button svg {
        @include box(100%);
        color: #f2f2f2;
    }
}

// layout depths = video(0) -> touch(1) -> controls(2)
